{{# if products }}
  <main class="bg_gray">
    <div class="container margin_30">
      <div class="page_header">
        <div class="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Category</a></li>
            <li>Page active</li>
          </ul>
        </div>
        <h1>Cart page</h1>
      </div>
      <!-- /page_header -->
      <table class="table table-striped cart-list">
        <thead>
          <tr>
            <th>
              Product
            </th>
            <th>
              Price
            </th>
            <th>
              Quantity
            </th>
            <th>
              Subtotal
            </th>
            <th>

            </th>
          </tr>
        </thead>
        <tbody>
        {{# each products }}        
          <tr>
            <td>
              <div class="thumb_cart">
                <img
                  src="/{{ splitPath this.item.fileImage }}"
                  {{!-- data-src="{{ splitPath this.item.fileImage }}" --}}
                  width="50"
                  height="50"
                  class="lazy"
                  alt="Image"
                />
              </div>
              <span class="item_cart">{{ this.item.name }}</span>
            </td>
            <td>
              <strong>{{cur this.item.price }}đ</strong>
            </td>
            <td>
              <div>
                <a href="/products/reduce/{{this.item._id}}" >-</a>
                {{!-- <input
                  type="text"
                  value="{{ this.qty }}"
                  id="quantity_1"
                  class="mx-2 border-0"
                  name="quantity_1"
                />                --}}
                <div class="mx-2 d-inline">{{ this.qty }}</div>
                {{!-- <div class="inc button_inc"></div> --}}
                <a href="/products/add-to-cart/{{this.item._id}}" >+</a>
                
                {{!-- <div class="dec button_inc"></div> --}}
                  
                
            </td>
            <td>
              <strong>{{cur this.price }}</strong>
            </td>
            <td class="options">
              <a href="/products/remove/{{this.item._id}}"><i class="ti-trash"></i></a>
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
      <div class="row add_top_30 flex-sm-row-reverse cart_actions">
        {{!-- <div class="col-sm-4 text-right">
          <button type="button" class="btn_1 gray">Update Cart</button>
        </div> --}}
        {{!-- <div class="col-sm-8">
          <div class="apply-coupon">
            <div class="form-group form-inline">
              <input
                type="text"
                name="coupon-code"
                value=""
                placeholder="Promo code"
                class="form-control"
              /><button type="button" class="btn_1 outline">Apply Coupon</button>
            </div>
          </div>
        </div> --}}
      </div>
      <!-- /cart_actions -->

    </div>
    <!-- /container -->

    <div class="box_cart">
      <div class="container">
        <div class="row justify-content-end">
          <div class="col-xl-4 col-lg-4 col-md-6">
            <ul>
              {{!-- <li>
                <span>Subtotal</span>
                {{ totalPrice }}đ
              </li> --}}
              {{!-- <li>
                <span>Shipping</span>
                $7.00
              </li> --}}
              <li>
                <span>Total: </span>
                <strong>{{cur totalPrice }}</strong>
              </li>
            </ul>
            <a href="/products/checkout" class="btn_1 full-width cart">Proceed to
              Checkout</a>            
          </div>
        </div>
      </div>
    </div>
    <!-- /box_cart -->

  </main>
{{ else }}
<div>
    <main class="bg_gray">
    <div class="container margin_30">
      <div class="page_header">
        <div class="breadcrumbs">
          <ul>
            <li><a href="#">Home</a></li>
            <li><a href="#">Category</a></li>
            <li>Page active</li>
          </ul>
        </div>
        <h1>Cart page</h1>
      </div>
      <!-- /page_header -->
      <table class="table table-striped cart-list">
        <thead>
          <tr>
            <th>
              Product
            </th>
            <th>
              Price
            </th>
            <th>
              Quantity
            </th>
            <th>
              Subtotal
            </th>
            <th>

            </th>
          </tr>
        </thead>
        <tbody>          
        </tbody>
      </table>
      <strong>No Items in Cart</strong> 
  </main>  
</div>
{{/if}}

  <!--/main-->

<div id="toTop"></div><!-- Back to top button -->

<!-- COMMON SCRIPTS -->
<script src="js/common_scripts.min.js"></script>
<script src="js/main.js"></script>