<form class="bg_gray" method="POST" action="">
  <div class="container margin_50">
    <div class="page_header">
      <h1 class="pl-1 pt-2">Your Profile</h1>
      <p class="pl-1">Manage your profile's information</p>
      <hr />
    </div>
    <!-- /page_header -->
    <div class="row justify-content-center">
      <div class="col-xl-6 col-lg-6 col-md-8">
        <div class="box_account">
          {{#if success_msg}}
            <div class="alert alert-success" role="alert">
              {{success_msg}}
            </div>
          {{/if}}
          {{#if error_msg}}
            <div class="alert alert-danger" role="alert">
              {{error_msg}}
            </div>
          {{/if}}
          {{#if error}}
            <div class="alert alert-danger" role="alert">
              {{error}}
            </div>
          {{/if}}
          <div class="form_container">
            <div class="form-group">
              <input
                type="email"
                class="form-control"
                name="email"
                id="email"
                placeholder="Email*"
                value={{email}}
              />
            </div>
            <div class="form-group">
              <input
                type="password"
                class="form-control"
                name="password"
                id="password"
                value=""
                placeholder="Password*"
              />
            </div>
            <hr />
            <div class="private box">
              <div class="row no-gutters">
                <div class="col-12 pr-1">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Username*"
                      name="username"
                      value={{username}}
                    />
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Full Address*"
                      name="fullAdress"
                      value={{fullAdress}}
                    />
                  </div>
                </div>
              </div>
              <!-- /row -->
              <div class="row no-gutters">
                <div class="col-12 pr-1">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="City*"
                      name="city"
                      value={{city}}
                    />
                  </div>
                </div>
              </div>
              <!-- /row -->

              <div class="row no-gutters">
                <div class="col-6 pr-1">
                  <div class="form-group">
                    <div class="form-group">
                      <input
                        type="text"
                        class="form-control"
                        placeholder="Country*"
                        name="country"
                        value={{country}}
                      />
                    </div>
                  </div>
                </div>
                <div class="col-6 pl-1">
                  <div class="form-group">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Telephone *"
                      name="telephone"
                      value={{telephone}}
                    />
                  </div>
                </div>
              </div>
              <!-- /row -->
            </div>
            <hr />
            <div class="text-center"><input
                type="submit"
                value="Save"
                class="btn_1 full-width"
              /></div>
          </div>
          <!-- /form_container -->
        </div>
        <!-- /box_account -->
      </div>
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</form>