<header class="version_1">
  <div class="layer"></div><!-- Mobile menu overlay mask -->
  <div class="main_header">
    <div class="container p-2">
      <div class="row small-gutters">
        <div class="col-xl-3 col-lg-3 d-lg-flex align-items-center">
          <div id="logo">
            <a href="/"><img
                src="/img/logo123.svg"
                alt=""
                width="100"
                height="65"
                
              />
              
              </a>
          </div>
          <div style="color:rgb(247, 238, 238);  font-size: 40px; font-family:'Tangerine', serif;">Huimitu</div>         
        </div>
               
        <nav class="col-xl-6 col-lg-7">
          <a class="open_close" href="javascript:void(0);">
            <div class="hamburger hamburger--spin">
              <div class="hamburger-box">
                <div class="hamburger-inner"></div>
              </div>
            </div>
          </a>
          <!-- Mobile menu button -->
						<div class="main-menu">
							<div id="header_menu">
								<a href="index.html"><img src="img/logo_black.svg" alt="" width="100" height="35"></a>
								<a href="#" class="open_close" id="close_in"><i class="ti-close"></i></a>
							</div>
							<ul>
								<li>
									<a href="/" style ="text-decoration: none;">Home</a>
								</li>
								<li class="megamenu submenu">
									<a href="javascript:void(0);" class="show-submenu-mega" style ="text-decoration: none;">Products</a>
									<div class="menu-wrapper">
										<div class="row small-gutters">
											<div class="col-lg-4">
												<h3>Phone accessories</h3>
												<ul>
													<li><a href="/products?search=&filtering_category=Củ+sạc">Củ sạc</a></li>
													<li><a href="/products?search=&filtering_category=Sạc+dự+phòng">Sạc dự phòng</a></li>
													<li><a href="/products?search=&filtering_category=Dán+màn+hình">Dán màn hình</a></li>
													<li><a href="/products?search=&filtering_category=Cáp+sạc">Cáp sạc</a></li>
													<li><a href="/products?search=&filtering_category=Loa">Loa</a></li>
													<li><a href="/products?search=&filtering_category=Ốp+lưng">Ốp lưng</a></li>
													<li><a href="/products?search=&filtering_category=Tai+nghe">Tai nghe</a></li>
												</ul>
											</div>
											<div class="col-lg-4">
												<h3>Other pages </h3>
												<ul>
													<li><a href="/products/carts">Giỏ hàng</a></li>
													<li><a href="#">Theo dõi đơn hàng của bạn</a></li>
													<li><a href="help.html">Trung tâm trợ giúp</a></li>
												</ul>
											</div>
											<div class="col-lg-4 d-xl-block d-lg-block d-md-none d-sm-none d-none">
												<div class="banner_menu">
													<a href="#0">
														<img src="data:image/gif;base64,R0lGODlhAQABAIAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==" data-src="img/banner_menu.jpg" width="400" height="550" alt="" class="img-fluid lazy">
													</a>
												</div>
											</div>
										</div>
										<!-- /row -->
									</div>
									<!-- /menu-wrapper -->
								</li>
								<li class="submenu">
									<a href="javascript:void(0);" class="show-submenu" style ="text-decoration: none;">Support</a>
									<ul>									
										<li><a href="#">Contact Us</a></li>
										<li><a href="#">About us</a></li>
									</ul>
								</li>				
							</ul>
						</div>
						<!--/main-menu -->
        </nav>
      </div>
      <!-- /row -->
    </div>
  </div>
  <!-- /main_header -->

  <div class="main_nav Sticky">
    <div class="container">
      <div class="row small-gutters">
        <div class="col-xl-3 col-lg-3 col-md-3">
          <nav class="categories">
            <ul class="clearfix">
              <li><span>
                  <a href="#">
                    <span class="hamburger hamburger--spin">
                      <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                      </span>
                    </span>
                    Menu
                  </a>
                </span>
                <div id="menu">
                  <ul>
                    <li><span><a href="/products">All Products</a></span> </li>
                    <li><span><a href="/products?search=&filtering_category=Củ+sạc">Củ sạc</a></span> </li>
                    <li><span><a href="/products?search=&filtering_category=Sạc+dự+phòng">Sạc dự phòng</a></span> </li>
                    <li><span><a href="/products?search=&filtering_category=Dán+màn+hình">Dán màn hình</a></span> </li>
                    <li><span><a href="/products?search=&filtering_category=Cáp+sạc">Cáp sạc</a></span> </li>
                    <li><span><a href="/products?search=&filtering_category=Loa">Loa</a></span> </li>
                    <li><span><a href="/products?search=&filtering_category=Ốp+lưng">Ốp lưng</a></span> </li>
                    <li><span><a href="/products?search=&filtering_category=Tai+nghe">Tai nghe</a></span> </li>
                  </ul>
                </div>
              </li>
            </ul>
          </nav>
        </div>
        <div class="col-xl-6 col-lg-7 col-md-6 d-none d-md-block">
          <form method="get">
            <div class="custom-search-input">
              <input type="text" placeholder="Search over 10.000 products" name="search" value=""/>
              <button type="submit">
                <i class="header-icon_search_custom"></i>
              </button>
            </div>
          </form>
        </div>
        <div class="col-xl-3 col-lg-2 col-md-3">
          <ul class="top_tools">
            <li>
              <div class="dropdown dropdown-cart">
                {{#if session.cart}}
                <a href="/products/carts" class="cart_bt"><strong>{{session.cart.totalQty}}</strong></a>
                <div class="dropdown-menu">
                  <ul>
                    {{# each session.cart.items }}
                    <li>
                      <a href="/products/details/{{this.item.slug}}">
                        <figure><img
                            src="/{{ splitPath this.item.fileImage }}"
                            {{!-- data-src="{{ splitPath  this.item.fileImage }}" --}}
                            alt=""
                            width="50"
                            height="50"
                            class="lazy"
                          /></figure>
                        <strong><span>{{this.item.name}}</span>{{cur this.price}}</strong>
                      </a>
                      <a href="/products/remove/{{this.item._id}}" class="action"><i class="ti-trash"></i></a>
                    </li>
                    {{/each}}
                    
                  </ul>
                  <div class="total_drop">
                    <div class="clearfix"><strong>Total</strong><span
                      >{{totalPrice}}</span></div>
                    <a href="/products/carts" class="btn_1 outline">View Cart</a><a
                      href="/products/checkout"
                      class="btn_1"
                    >Checkout</a>
                  </div>
                  {{ else }}
                <a href="/products/carts" class="cart_bt"><strong>{{session.cart.totalQty}}</strong></a>
                <div class="dropdown-menu">
                  <ul>
                    <li>
                      <strong>Cart is empty</strong>
                    </li>
                    
                  </ul>
                  <div class="total_drop">
                    <div class="clearfix"><strong>Total</strong><span
                      >0</span></div>
                  </div>                  
                </div>
              </div>
              {{/if}}
              <!-- /dropdown-cart-->
            </li>
            
            <li>
              <a href="#0" class="wishlist"><span>Wishlist</span></a>
            </li>
            <li>
              <div class="dropdown dropdown-access">
                
                <a href="/user" class="access_link"><span>Account</span></a>
                <div class="dropdown-menu">
                  {{# if login }}
                  <div class="text-dark text-start">Welcome {{ user.username }}!</div>
                   {{/if}}
                    {{#if user.isAdmin}}
                    <a href="/admin" class="btn_1 mt-2">Admin Site</a>
                    {{/if}}
                  {{# if login }}                                  
                  <a href="/logout" class="btn_1 mt-2">Logout</a>                  
                  {{ else }}
                  <a href="/login" class="btn_1 mt-2">Login</a>
                  <a href="/register" class="btn_1 mt-2">Register</a>  
                  {{/if}}

                  <ul>
                    <li>
                      <a href="track-order.html"><i class="ti-truck"></i>Track
                        your Order</a>
                    </li>
                    {{# if login }}
                    <li>
                      <a href="/user/orders"><i class="ti-package"></i>My Orders</a>
                    </li>
                    <li>
                      <a href="/user/profile"><i class="ti-user"></i>My Profile</a>
                    </li>
                    {{/if}}
                    <li>
                      <a href="help.html"><i class="ti-help-alt"></i>Help and
                        Faq</a>
                    </li>
                  </ul>
 

                </div>
              </div>
              <!-- /dropdown-access-->
            </li>
            <li>
              <a href="javascript:void(0);" class="btn_search_mob"><span
                >Search</span></a>
            </li>
            
            {{!-- <li>
              <a href="#menu" class="btn_cat_mob">
                <div class="hamburger hamburger--spin" id="hamburger">
                  <div class="hamburger-box">
                    <div class="hamburger-inner"></div>
                  </div>
                </div>
                Categories
              </a>
            </li> --}}
          </ul>
        </div>
      </div>
      <!-- /row -->
    </div>
    <div class="search_mob_wp">
      <input
        type="text"
        class="form-control"
        placeholder="Search over 10.000 products"
      />
      <input type="submit" class="btn_1 full-width" value="Search" />
    </div>
    <!-- /search_mobile -->
  </div>
  <!-- /main_nav -->
</header>